:root {
  --azul-oscuro: #0a1a3f;
  --azul: #0b2cff;
  --blanco: #ffffff;
  --gris: #e5e5e5;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}
/* Pagina Principal*/
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--gris);
  background-image: url(imagenes/fondo\ champions.jpg) ;
  background-size: cover;
  background-position: c;
}



.header {
  background: linear-gradient(90deg, #020c2b, #0b2cff);
  color: var(--blanco);
  text-align: center;
  padding: 30px 20px;
}

.logo {
  width: 170px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 0%;
}


.menu {
  display: flex;
  justify-content: center;
  background: var(--azul-oscuro);
}

.menu a {
  color: var(--blanco);
  text-decoration: none;
  padding: 15px 25px;
  transition: 0.3s;
}

.menu a:hover,
.menu a.active {
  background: var(--azul);
}


.contenido {
  flex: 1;
  max-width: 900px;
  margin: 40px auto;
  background: var(--blanco);
  padding: 40px;
  border-radius: 12px;
}

.contenido h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--azul-oscuro);
}

.texto p {
  margin-bottom: 18px;
  line-height: 1.6;
  text-align: justify;
}

.footer {
  background: #000;
  color: var(--blanco);
  text-align: center;
  padding: 15px;
}


@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .menu a {
    text-align: center;
  }

  .contenido {
    margin: 20px;
    padding: 25px;
  }
}
/* Pagina Principal*/

/* Equipos */

.title{
  font-size:40px ;
}

.contenido_equipos{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 20px;
}

.contenido_equipos_grupo{
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #0b2cff, #020c2b);
  color: var(--blanco);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  gap: 10px;
  width: 750px;
  height: 260px;
}

.contenido_equipos_grupo_titulo{
  text-align: center;
  font-size: 30px;
}

.contenido_equipos_grupo_caja{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 10px;
}

/* Grupo A */

.Diegofc{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.Diegofc_escudo{
  width: 190px;
  height: 150px;
}

.Real-Madrid{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.Real-Madrid_escudo{
  width: 110px;
  height: 150px;
}

.AC_Milan{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

.AC_Milan_escudo{
  width: 140px;
  height: 150px;
}

.united{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.United_escudo{
  width: 140px;
  height: 150px;
}

/* Grupo B */

.Alcorcon{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Alcorcon_escudo{
  width: 140px;
  height: 150px;
}

.BazTeam{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.BazTeam_escudo{
  width: 140px;
  height: 150px;
}

.Chelsea{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Chelsea_escudo{
  width: 150px;
  height: 150px;
}

.Juve{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Juve_escudo{
  width: 150px;
  height: 150px;
}


/* Grupo C */

.fcbarça{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.fcbarça_escudo{
  width: 160px;
  height: 170px;
}

.FcMunich{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.FcMunich_escudo{
  width: 140px;
  height: 140px;
}

.Inter{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Inter_escudo{
  width: 150px;
  height: 150px;
}

.Alamo{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Alamo_escudo{
  width: 140px;
  height: 150px;
}

/* Grupo D */

.Leganes{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Leganes_escudo{
  width: 140px;
  height: 150px;
}

.Liverpool{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Liverpool_escudo{
  width: 90px;
  height: 150px;
}

.Ragnarok{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Ragnarok_escudo{
  width: 130px;
  height: 150px;
}

.Ajax{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.Ajax_escudo{
  width: 130px;
  height: 150px;
}

/*Partidos*/

